h1{
    color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;/* 1rem = 10px*/
}
body{
    font-size: 1.4rem;/* soit 14px*/
    font-family: arial;
    color: white;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1E2337;
}

.banniere-titre{
    margin-bottom: 1rem;
}

.question{
    display: flex; /* Permet de positionner p & i  */
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #777;
}
.reponse{
    display: none;
    padding: 3rem;
    color: #777;
    background-color: #eee;
}
.visible{
    display: block;
}

